BETTER_AUTH_SECRET="change-me-to-a-random-32-char-secret"
BETTER_AUTH_URL="http://localhost:3000"

DATABASE_URL="postgresql://user:password@host:port/dbname"

TRUSTED_ORIGIN="http://localhost:3001"

# Optional
RESEND_API_KEY="re_..."
EMAIL_FROM="noreply@yourdomain.com"

GITHUB_TOKEN="ghp_..."
